
* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

#hr_1 {

 margin: 0.5em;
 border-top: 1px solid black;
  
}

#overskrift {

font-size: xxx-large;
letter-spacing: -3px;
font-family: sans-serif;
font-weight: 500;
line-height: 80%;
width: 10px;
margin-left: 0.2em;

}

#p_0 {

text-align: center; 
width: 400px;

}

#menu {

text-align: right;
color: aliceblue;


}

body{

background-color:#dbd2b7;

}

img {

   
   border-radius: 2%;
    margin: 0.9em;

}

#top_hr {

padding-top: 10px;

}


#hr_2 {

 margin: 0.5em;
 border-top: 1px solid black;

}

#p_1{

    margin-left: 0.9em;
    padding-bottom: 5%;

}

#bottom{

margin-left: 0.3em;
font-size: xxx-large;
letter-spacing: -3px;
font-family: sans-serif;
font-weight: 500;
line-height: 80%;
width: 364px;

}