
* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}



#hr_1 {

  margin-top: 0.1em;
  border-top: 3px solid black;
}

#overskrift {

font-size:500%;
letter-spacing: -3px;
font-family: sans-serif;
font-weight: 500;
line-height: 80%;
width: 10px;
margin-left: 0.2em;
padding-top: 0.2em;


}

#p_0 {

text-align: center; 


}

#menu {


text-align: right;
color: aliceblue;


}


body{

background-color:#dbd2b7;

}

img {

   
   border-radius: 2%;
    margin: 0.9em;
    width: 100%;

}



#hr_2 {

 margin: 0.5em;
 border-top: 3px solid black;

}

#p_1{

    margin-left: 0.9em;
    padding-bottom: 5%;

}

#bottom{

margin-left: 0.3em;
font-size:550%;
letter-spacing: -3px;
font-family: sans-serif;
font-weight: 500;
line-height: 90%;
width: 53%;

}